.text-title{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicios{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body {

    font-family:'Slabo 27px', serif;;
    
    font-size: 40px;
    
    }
p{
    font-size: 20px;
}
h2{
    font-weight: 900;
}